@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  scrollbar-color: initial !important;
}

*:hover {
  scrollbar-color: initial !important;
}


::-webkit-scrollbar {
  width: 5px;
  background-color: #d1d5db;
  /* border-radius: 8px; */
  scrollbar-width: thin;
}

::-webkit-scrollbar-thumb {
  color: #1f2937;
  background-color: #1f2937;
  /* border-radius: 8px; */
}

::-webkit-scrollbar-track {
  background-color: #d1d5db;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #d1d5db;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-auth-button>button {
  width: 100%;
  height: 48px;
}

@media (max-width: 640px) {
  .custom-zoom {
    zoom: 50%;
  }
}

/* inv radius */


.special-box-1 {
  --_size: 8px;
  --_corner-color: #1f2937 ;
  content: "";
  width: var(--_size);
  aspect-ratio: 1;
  background-image: radial-gradient(circle at 100% 100%,
      transparent var(--_size),
      var(--_corner-color, white) calc(var(--_size) + 0.5px));
}

.special-box-2 {
  --_size: 8px;
  --_corner-color: #1f2937 ;
  content: "";
  width: var(--_size);
  aspect-ratio: 1;
  background-image: radial-gradient(circle at 0% 100%,
      transparent var(--_size),
      var(--_corner-color) calc(var(--_size) + 0.5px));
}

